# Aula 10 - Recomendação baseada em sessão - exemplos

In [1]:
import pandas as pd
import numpy as np

### Leitura do arquivo 2019-Oct-sample.csv

In [2]:
subset = pd.read_csv('./2019-Oct-sample.csv')
subset.head()

,event_time,event_type,product_id,category_code,brand,user_session
0,2019-10-31 06:23:12 UTC,view,1005115,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
1,2019-10-31 06:23:52 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
2,2019-10-31 06:25:30 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
3,2019-10-31 06:26:58 UTC,view,1004858,electronics.smartphone,samsung,00000056-a206-40dd-b174-a072550fa38c
4,2019-10-31 06:28:21 UTC,view,1005104,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c

In [3]:
map_items = {item: idx for idx, item in enumerate(subset.product_id.unique())}
map_sessions = {item: idx for idx, item in enumerate(subset.user_session.unique())}
subset['itemId'] = subset['product_id'].map(map_items)
subset['sessionId'] = subset['user_session'].map(map_sessions)
subset.head()

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
0,2019-10-31 06:23:12 UTC,view,1005115,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,0,0
1,2019-10-31 06:23:52 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,1,0
2,2019-10-31 06:25:30 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,1,0
3,2019-10-31 06:26:58 UTC,view,1004858,electronics.smartphone,samsung,00000056-a206-40dd-b174-a072550fa38c,2,0
4,2019-10-31 06:28:21 UTC,view,1005104,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,3,0

In [4]:
n_items = subset['itemId'].max()+1
print('No. items: ', n_items)
n_sessions = subset['sessionId'].max()+1
print('No. sessions: ', n_sessions)

No. items:  42581
No. sessions:  483508

In [5]:
# create a dataset
# remove sessions with less than 2 items
def create_data(df):
    df.sort_values(by=['sessionId', 'event_time'], inplace=True, ignore_index=True)
    sessions, session = [], []
    for index, value in df.iterrows():
        if index != 0:
            if value["sessionId"] == df.at[index-1, "sessionId"]:
                if value["event_type"] == 'view':
                    session.append(value["itemId"])
            else:
                if len(session) > 1:
                    sessions.append((df.at[index-1, "sessionId"], session))
                session = [value["itemId"]]
        else:
            session.append(value["itemId"])
    return sessions

In [6]:
sessions = create_data(subset)

In [7]:
print('No. sessions: ', len(sessions))
print('Session 1:', sessions[1])
subset.loc[subset.sessionId==1]

No. sessions:  296914
Session 1: (1, [6, 7, 8, 9, 10, 11, 12, 9, 13, 9, 0, 14, 1, 15, 16, 17])

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
7,2019-10-06 11:24:45 UTC,view,1004768,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,6,1
8,2019-10-06 11:25:54 UTC,view,1005098,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,7,1
9,2019-10-06 11:25:59 UTC,view,1005073,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,8,1
10,2019-10-06 11:26:39 UTC,view,1004871,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,9,1
11,2019-10-06 11:26:53 UTC,view,1004751,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,10,1
12,2019-10-06 11:27:05 UTC,view,1004653,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,11,1
13,2019-10-06 11:27:24 UTC,view,1005015,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,12,1
14,2019-10-06 11:28:05 UTC,view,1004871,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,9,1
15,2019-10-06 11:28:34 UTC,view,1003527,electronics.smartphone,xiaomi,00000083-8816-4d58-a9b8-f52f54186edc,13,1
16,2019-10-06 11:28:45 UTC,view,1004871,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,9,1
17,2019-10-06 11:29:11 UTC,view,1005115,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,0,1
18,2019-10-06 11:30:18 UTC,view,1004249,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,14,1
19,2019-10-06 11:30:25 UTC,view,1005105,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,1,1
20,2019-10-06 11:30:37 UTC,view,1005135,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,15,1
21,2019-10-06 11:30:41 UTC,view,1004246,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,16,1
22,2019-10-06 11:32:50 UTC,view,1004870,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,17,1
23,2019-10-06 11:33:54 UTC,cart,1004870,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,17,1
24,2019-10-06 11:34:30 UTC,purchase,1004870,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,17,1

In [8]:
import random

random.shuffle(sessions)
split = len(sessions) * 0.8
train = sessions[:int(split)]
test = sessions[int(split):]
print('No. train sessions: ', len(train))
print('No. test sessions: ', len(test))

No. train sessions:  237531
No. test sessions:  59383

In [9]:
def jaccard(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return float(intersection) / union

In [10]:
actual_session = test[3]
target = actual_session[1][0:-1]
print(actual_session)
print(target)
subset.loc[subset.sessionId==actual_session[0]]

(480724, [1619, 93, 5760, 5760])
[1619, 93, 5760]

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
1989117,2019-10-28 18:49:49 UTC,view,3701134,appliances.environment.vacuum,bosch,132f42ee-9b0e-43d3-8478-068da8d438a3,1619,480724
1989118,2019-10-28 18:54:50 UTC,view,3701084,appliances.environment.vacuum,xiaomi,132f42ee-9b0e-43d3-8478-068da8d438a3,93,480724
1989119,2019-10-28 19:04:33 UTC,view,3700828,appliances.environment.vacuum,philips,132f42ee-9b0e-43d3-8478-068da8d438a3,5760,480724
1989120,2019-10-28 19:06:07 UTC,view,3700828,appliances.environment.vacuum,philips,132f42ee-9b0e-43d3-8478-068da8d438a3,5760,480724

In [11]:
def compute_score(train, target, itemId):
    candidate_sessions = []
    for s in range(len(train)):
        if itemId in train[s][1]:
            candidate_sessions.append(train[s][1])
    
    score = 0
    for n in range(len(candidate_sessions)):
        score += jaccard(candidate_sessions[n], target)
    
    return score
    
compute_score(train=train, target=target, itemId=931)

0.0

In [12]:
categories = subset.loc[subset.sessionId==actual_session[0]]['category_code'].unique().tolist()
candidate_items = subset.loc[subset.category_code.isin(categories)]['itemId'].unique().tolist()
candidate_items

[93,
 171,
 175,
 196,
 199,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 295,
 312,
 512,
 513,
 559,
 645,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 710,
 711,
 810,
 908,
 993,
 994,
 1079,
 1080,
 1110,
 1122,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1289,
 1290,
 1291,
 1292,
 1293,
 1374,
 1375,
 1376,
 1377,
 1378,
 1379,
 1405,
 1499,
 1527,
 1552,
 1617,
 1618,
 1619,
 1620,
 1621,
 1622,
 1623,
 1657,
 1658,
 1659,
 1660,
 1791,
 1847,
 1937,
 1938,
 1943,
 1944,
 1945,
 2080,
 2101,
 2102,
 2103,
 2193,
 2194,
 2195,
 2196,
 2293,
 2297,
 2298,
 2433,
 2605,
 2667,
 2668,
 2736,
 2737,
 2738,
 3075,
 3163,
 3178,
 3179,
 3180,
 3181,
 3199,
 3200,
 3201,
 3202,
 3216,
 3221,
 3222,
 3223,
 3287,
 3298,
 3321,
 3428,
 3464,
 3465,
 3466,
 3478,
 3479,
 3480,
 3481,
 3482,
 3483,
 3542,
 3566,
 3596,
 3628,
 3876,
 3883,
 3919,
 3940,
 3941,
 3942,
 3943,
 3944,
 3945,
 3946,
 3947,
 3948,
 4093,
 4203,
 4238,
 4260,
 4310,
 4349,
 4350,
 4398,
 4480,
 4481,
 4482,
 4483,
 4533,
 4547,
 4598,
 4599,
 4600,
 4641,
 4673,
 4860,
 4861,
 4914,
 5024,
 5029,
 5030,
 5031,
 5032,
 5033,
 5034,
 5212,
 5213,
 5214,
 5363,
 5409,
 5470,
 5481,
 5482,
 5483,
 5484,
 5485,
 5486,
 5487,
 5488,
 5526,
 5585,
 5664,
 5760,
 5804,
 5825,
 5826,
 5827,
 5840,
 5841,
 5914,
 6070,
 6074,
 6088,
 6089,
 6090,
 6100,
 6214,
 6215,
 6236,
 6237,
 6238,
 6283,
 6303,
 6336,
 6362,
 6391,
 6429,
 6568,
 6569,
 6570,
 6571,
 6572,
 6573,
 6574,
 6575,
 6576,
 6611,
 6612,
 6656,
 6706,
 6726,
 6727,
 6728,
 6729,
 6730,
 6799,
 6800,
 6801,
 6802,
 6820,
 6835,
 6836,
 6846,
 6879,
 6985,
 7060,
 7138,
 7139,
 7140,
 7141,
 7142,
 7143,
 7203,
 7252,
 7370,
 7371,
 7442,
 7443,
 7444,
 7445,
 7581,
 7691,
 7710,
 7711,
 7712,
 7713,
 7714,
 7746,
 7822,
 7942,
 8031,
 8032,
 8033,
 8034,
 8035,
 8224,
 8360,
 8361,
 8608,
 8609,
 8800,
 8801,
 8878,
 8904,
 9085,
 9111,
 9374,
 9375,
 9377,
 9379,
 9577,
 9764,
 9885,
 9890,
 9993,
 10025,
 10047,
 10072,
 10073,
 10100,
 10297,
 10366,
 10568,
 10569,
 10570,
 10630,
 10633,
 10635,
 10636,
 10687,
 10775,
 10776,
 10777,
 10778,
 10822,
 10846,
 10852,
 10876,
 10877,
 10925,
 10926,
 10972,
 11017,
 11044,
 11096,
 11136,
 11146,
 11325,
 11356,
 11413,
 11508,
 11509,
 11510,
 11511,
 11537,
 11611,
 11689,
 11826,
 11841,
 11842,
 11946,
 11991,
 12046,
 12047,
 12108,
 12109,
 12110,
 12111,
 12313,
 12378,
 12490,
 12538,
 12539,
 12674,
 12742,
 12900,
 12911,
 13001,
 13036,
 13074,
 13075,
 13409,
 13434,
 13435,
 13591,
 13648,
 13666,
 13667,
 13721,
 13750,
 13751,
 13752,
 13978,
 13979,
 13980,
 13981,
 14006,
 14074,
 14075,
 14154,
 14188,
 14315,
 14316,
 14432,
 14462,
 14526,
 14527,
 14528,
 14540,
 14541,
 14545,
 14630,
 14768,
 14769,
 14776,
 14793,
 14802,
 14831,
 14996,
 15055,
 15097,
 15243,
 15245,
 15282,
 15445,
 15446,
 15457,
 15517,
 15685,
 15805,
 15868,
 15887,
 15898,
 15985,
 16066,
 16067,
 16169,
 16170,
 16201,
 16410,
 16411,
 16533,
 16534,
 16535,
 16536,
 16537,
 16552,
 16581,
 16657,
 16658,
 16768,
 16941,
 17123,
 17124,
 17213,
 17238,
 17239,
 17266,
 17307,
 17390,
 17394,
 17436,
 17516,
 17596,
 17597,
 17643,
 17768,
 17801,
 17835,
 18005,
 18134,
 18140,
 18158,
 18348,
 18494,
 18501,
 18598,
 18655,
 18656,
 18657,
 18665,
 18835,
 18836,
 18839,
 18855,
 18888,
 18973,
 18974,
 18975,
 19278,
 19310,
 19343,
 19431,
 19432,
 19486,
 19716,
 19719,
 19755,
 19764,
 19998,
 20015,
 20048,
 20049,
 20050,
 20066,
 20181,
 20182,
 20277,
 20462,
 20615,
 20616,
 20746,
 20839,
 20965,
 21073,
 21074,
 21112,
 21228,
 21253,
 21460,
 21471,
 21472,
 21591,
 21665,
 21686,
 21687,
 21688,
 21689,
 21735,
 21943,
 22241,
 22242,
 22243,
 22265,
 22354,
 22619,
 22953,
 23002,
 23062,
 23107,
 23108,
 23109,
 23110,
 23115,
 23319,
 23639,
 23935,
 23936,
 23944,
 24256,
 24259,
 24260,
 24277,
 24394,
 24430,
 24554,
 24569,
 24573,
 24574,
 24575,
 24576,
 24661,
 24804,
 24838,
 24912,
 24954,
 25228,
 25286,
 25494,
 25518,
 25783,
 25798,
 25799,
 25800,
 26046,
 26143,
 26252,
 26269,
 26396,
 26776,
 27022,
 27044,
 27101,
 27164,
 27193,
 27236,
 27427,
 27731,
 27732,
 28022,
 28100,
 28101,
 28234,
 28813,
 29085,
 29256,
 29396,
 29412,
 29824,
 30405,
 30587,
 30596,
 30718,
 30935,
 31248,
 31268,
 31352,
 31462,
 31605,
 31835,
 32200,
 32634,
 32744,
 32748,
 32769,
 33180,
 33787,
 33969,
 34094,
 34208,
 34209,
 34210,
 34317,
 34591,
 34764,
 34811,
 34902,
 35157,
 35158,
 35283,
 35290,
 35510,
 35541,
 35682,
 35789,
 35899,
 35900,
 36096,
 36214,
 36514,
 36670,
 36725,
 37074,
 37144,
 37425,
 37582,
 37700,
 37860,
 37877,
 37907,
 38000,
 38009,
 38061,
 38091,
 38092,
 38093,
 39002,
 39184,
 39375,
 39519,
 40015,
 40046,
 40284,
 40439,
 40509,
 40583,
 41313,
 41488,
 41570,
 41631,
 42309,
 42310]

In [13]:
ranking = []
for i in range(len(candidate_items)):
    ranking.append((compute_score(train, target, candidate_items[i]), candidate_items[i]))

ranking.sort()
ranking.reverse()
print(ranking[0:10])

[(93.77613906065321, 1619), (54.39865682471801, 93), (20.454496258535112, 810), (15.416207032483264, 1527), (15.354235276112906, 5760), (10.164347268853518, 1657), (9.878098896084811, 196), (8.67006150576479, 295), (7.108629633492461, 312), (7.1006393485986905, 3181)]

In [14]:
subset.loc[subset.itemId==1046]

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
2519,2019-10-12 18:16:54 UTC,view,5100719,electronics.clocks,samsung,000729f8-7f6c-43f6-b1dd-aab45a29f5c1,1046,652
5660,2019-10-01 13:27:59 UTC,view,5100719,electronics.clocks,samsung,000fdfe4-e1f0-4a93-9c22-f04066ad895e,1046,1461
5705,2019-10-01 10:07:25 UTC,view,5100719,electronics.clocks,samsung,000ff41f-8d94-449e-86fc-25e0957da685,1046,1470
5706,2019-10-01 10:08:04 UTC,view,5100719,electronics.clocks,samsung,000ff41f-8d94-449e-86fc-25e0957da685,1046,1470
6330,2019-10-12 19:48:00 UTC,view,5100719,electronics.clocks,samsung,00118404-d57f-4480-b917-df839bc6a188,1046,1642
...,...,...,...,...,...,...,...,...
1998579,2019-10-31 03:54:14 UTC,view,5100719,electronics.clocks,samsung,1347912f-0cb1-4086-b174-d7f10f275ffa,1046,483132
1998631,2019-10-11 16:58:51 UTC,view,5100719,electronics.clocks,samsung,1347c04a-6cfd-4cca-925e-60cead2e1931,1046,483151
1998632,2019-10-11 16:59:10 UTC,view,5100719,electronics.clocks,samsung,1347c04a-6cfd-4cca-925e-60cead2e1931,1046,483151
1998633,2019-10-11 17:00:34 UTC,view,5100719,electronics.clocks,samsung,1347c04a-6cfd-4cca-925e-60cead2e1931,1046,483151
1999649,2019-10-02 13:10:32 UTC,view,5100719,electronics.clocks,samsung,134a9a60-7386-4d9f-8709-909c663b88da,1046,483425